allow system_app proc_pagetypeinfo:file { getattr open read write map ioctl r_file_perms rw_file_perms execute rx_file_perms };
allow system_app proc_vmallocinfo:file { getattr open read write map ioctl r_file_perms rw_file_perms execute rx_file_perms };
allow system_app sysfs_zram:dir { getattr open read map ioctl search r_dir_perms };
allow system_app sysfs_zram:file { getattr open read write map ioctl r_file_perms rw_file_perms };
allow system_app kernel:system { syslog_read };
allow system_app sysfs_batteryinfo:dir { search r_dir_perms };
allow system_app sysfs_batteryinfo:file { getattr open read map ioctl r_file_perms };
#============= system_app ==============
allow system_app system_data_file:dir { getattr open read write map ioctl search r_dir_perms add_name create setattr rw_dir_perms };
allow system_app system_data_file:file { getattr open read write map ioctl r_file_perms rw_file_perms };

allow system_app storaged:binder { transfer };
allow system_app wificond:binder { transfer };

binder_call(system_app, storaged)
binder_call(system_app, wificond)

permissive system_app;
